# Environment Configuration
BASE_URL=https://standard-f1-carity.feisystemsh2env.com/
HEADLESS=false
BROWSER=chromium

# Test Environment
TEST_ENV=STD-F1

# Credentials
USERNAME=george.parker
PASSWORD=Password123#
ORGANIZATION=Quantum
LOCATION=Quantum Services Medical Equipment
STAFF_MEMBER=Self
